# Порт удаленного сервера предоставляющего oAuth2
REMOTE_SERVER_PORT=8000
# Адрес куда должен приходить ответ от oAuth2 сервера
REDIRECT_URI=http://localhost:3000/callback

# Логин и пароль для авторизации на сервисе предоставляющем oAuth2
USER_EMAIL=guest@example.com
PASSWORD=password

# Имя контейнера для билда докера
CONTAINER_NAME=wfgm5k2d